<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SERSE_ECN</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ConnexionServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionServlet</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercheServlet</display-name>
    <servlet-name>RechercheServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.RechercheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercheServlet</servlet-name>
    <url-pattern>/RechercheServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OptionsServlet</display-name>
    <servlet-name>OptionsServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.OptionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptionsServlet</servlet-name>
    <url-pattern>/OptionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccesRapportServlet</display-name>
    <servlet-name>AccesRapportServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.AccesRapportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccesRapportServlet</servlet-name>
    <url-pattern>/Recherche</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MesRapportsServlet</display-name>
    <servlet-name>MesRapportsServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.MesRapportsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesRapportsServlet</servlet-name>
    <url-pattern>/MesRapports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccueilServlet</display-name>
    <servlet-name>AccueilServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.AccueilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilServlet</servlet-name>
    <url-pattern>/AccueilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SoumissionRapportServlet</display-name>
    <servlet-name>SoumissionRapportServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.SoumissionRapportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SoumissionRapportServlet</servlet-name>
    <url-pattern>/Soumission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OptionsRestreintesServlet</display-name>
    <servlet-name>OptionsRestreintesServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.OptionsRestreintesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptionsRestreintesServlet</servlet-name>
    <url-pattern>/OptionsRestreintesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AccueilDriServlet</display-name>
    <servlet-name>AccueilDriServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.AccueilDriServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilDriServlet</servlet-name>
    <url-pattern>/AccueilDri</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AccueilAdminServlet</display-name>
    <servlet-name>AccueilAdminServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.AccueilAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilAdminServlet</servlet-name>
    <url-pattern>/AccueilAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ValidationRapportServlet</display-name>
    <servlet-name>ValidationRapportServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.ValidationRapportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidationRapportServlet</servlet-name>
    <url-pattern>/ValidationRapport</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GestionRapportServlet</display-name>
    <servlet-name>GestionRapportServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.GestionRapportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionRapportServlet</servlet-name>
    <url-pattern>/GestionRapport</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PreferencesDriServlet</display-name>
    <servlet-name>PreferencesDriServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.PreferencesDriServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreferencesDriServlet</servlet-name>
    <url-pattern>/PreferencesDri</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ValidationOptionServlet</display-name>
    <servlet-name>ValidationOptionServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.ValidationOptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidationOptionServlet</servlet-name>
    <url-pattern>/ValidationOption</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GestionOptionServlet</display-name>
    <servlet-name>GestionOptionServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.GestionOptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionOptionServlet</servlet-name>
    <url-pattern>/GestionOption</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PreferencesAdminServlet</display-name>
    <servlet-name>PreferencesAdminServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.PreferencesAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreferencesAdminServlet</servlet-name>
    <url-pattern>/PreferencesAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.DownloadServlet</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>/Users/Audrey/git/SERSE/SERSE_ECN/WebContent/rapports</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/files/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
</web-app>