<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SERSE_ECN</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ConnexionServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionServlet</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercheServlet</display-name>
    <servlet-name>RechercheServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.RechercheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercheServlet</servlet-name>
    <url-pattern>/RechercheServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OptionsServlet</display-name>
    <servlet-name>OptionsServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.OptionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptionsServlet</servlet-name>
    <url-pattern>/OptionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccesRapportServlet</display-name>
    <servlet-name>AccesRapportServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.AccesRapportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccesRapportServlet</servlet-name>
    <url-pattern>/Recherche</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MesRapportsServlet</display-name>
    <servlet-name>MesRapportsServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.MesRapportsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesRapportsServlet</servlet-name>
    <url-pattern>/MesRapports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccueilServlet</display-name>
    <servlet-name>AccueilServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.AccueilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilServlet</servlet-name>
    <url-pattern>/AccueilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SoumissionRapportServlet</display-name>
    <servlet-name>SoumissionRapportServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.SoumissionRapportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SoumissionRapportServlet</servlet-name>
    <url-pattern>/Soumission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OptionsRestreintesServlet</display-name>
    <servlet-name>OptionsRestreintesServlet</servlet-name>
    <servlet-class>org.ecn.serse.servlets.OptionsRestreintesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptionsRestreintesServlet</servlet-name>
    <url-pattern>/OptionsRestreintesServlet</url-pattern>
  </servlet-mapping>
</web-app>